.upper{
    background-color:rgb(7, 212, 212) ;
    width: 100%;
    height: 50px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    display: flex;
    justify-content: flex-end;
    

}

.icons{
    display: inline-block;
    margin: 20px;
    color: white;
    font-weight: 500;


}